name: Run NEWSROOM_ONE Quotes

on:
  workflow_dispatch:
  #schedule:
  #  - cron: "17 18 * * *" # every day

jobs:
  spacy_job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Cache Python Packages
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Cache SpaCy Model
        uses: actions/cache@v3
        with:
          path: ~/.cache/spacy
          key: ${{ runner.os }}-spacy-${{ hashFiles('spacy_model.txt') }}
          restore-keys: |
            ${{ runner.os }}-spacy-

      - name: Install Dependencies
        run: |
          pip install -r nlp_requirements.txt

      - name: Download SpaCy Model
        run: |
          python -m spacy download en_core_web_md
        env:
          XDG_CACHE_HOME: ~/.cache/spacy

      - name: Run Script
        env:
          MY_SECRET_JSON: ${{ secrets.MY_SECRET_JSON }}
          NEWSROOM_VARIABLE: ${{ secrets.NEWSROOM_ONE }} # NR 1
          BACKEND_API: ${{ secrets.BACKEND_API }}
          LLM_SERVICE: ${{ secrets.LLM_SERVICE }}
          LLM_HEADER: ${{ secrets.LLM_HEADER }}
          EXPERT_TRAIN: ${{ secrets.EXPERT_TRAIN }}
          EXPERT_RULE_ONE: ${{ secrets.EXPERT_RULE_ONE }}
          EXPERT_RULE_TWO: ${{ secrets.EXPERT_RULE_TWO }}
          RELATIONSHIP_RULE_ONE: ${{ secrets.RELATIONSHIP_RULE_ONE }}
          RELATIONSHIP_RULE_TWO: ${{ secrets.RELATIONSHIP_RULE_TWO }}
          REL_SET_ONE: ${{ secrets.REL_SET_ONE }}
          REL_SET_TWO: ${{ secrets.REL_SET_TWO }}
          REL_SET_THREE: ${{ secrets.REL_SET_THREE }}
        run: |
          python people.py
          python quotes.py